
*.py linguist-detectable=true
*.js linguist-detectable=true
*.ipynb linguist-language=Python
*.html linguist-language=HTML
*.css linguist-language=CSS
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.json linguist-language=JSON
*.md linguist-language=Markdown
*.r linguist-language=R
*.sh linguist-language=Shell
*.bat linguist-language=Batchfile
*.ps1 linguist-language=PowerShell
*.tsv linguist-language=TSV
*.csv linguist-language=CSV

# Specify PyTorch and TensorFlow
*.torch linguist-language=PyTorch
*.tfevents linguist-language=TensorFlow
